*{
 margin: 0;
 padding: 0;
 font-family: 'Poppins', sans-serif;
 box-sizing: border-box;   
}

body{
    background-color: #003366;
    color:#fff;
}

.container{
    color: white;
    margin: 15%;
}

.container h1{
    font-size: 45px;
    font-weight: 500;
}

.container h1 span{
    color: #008000 ;
     font-size: 50px;
    font-weight: 500;
    border-bottom: 5px solid #008000;
    padding-bottom: 5px;
}

.display {
    width: 70%;
    background: white;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1%;
    border-radius: 5px;
   
}

.display input{
    border: 0;
    outline: 0;
    font-size: 25px;
    font-weight: 400;
}

.display img{
    width: 30px;
    cursor: pointer;
}

.container button img{
 width:28px;
 margin-right: 20px;
 /* margin-top: 10px; */
}

.container button{
    width: 28%;
    margin-top: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 25px;
    font-weight: 400;
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #008000;
    color: #fff;
    cursor: pointer;
}
